#quote-box {
  width: 500px;
  padding: 250px 0px;
  margin: 0 auto;
  border: 2px solid black;
}

#text {
  border: 2px solid red;
  text-align: center;
}

#author {
  border: 2px solid blue;
  text-align: right;
}

#new-quote {
  border: 2px solid green;
  text-align: right;
}